<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>/最右</string>
		<key>image</key>
		<string>d_zuiyou.png</string>
		<key>image_gif</key>
		<string></string>
		<key>name</key>
		<string>最右</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/微笑</string>
		<key>image</key>
		<string>d_hehe.png</string>
		<key>image_gif</key>
		<string>d_hehe.gif</string>
		<key>name</key>
		<string>微笑</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/嘻嘻</string>
		<key>image</key>
		<string>d_xixi.png</string>
		<key>image_gif</key>
		<string>d_xixi.gif</string>
		<key>name</key>
		<string>嘻嘻</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/哈哈</string>
		<key>image</key>
		<string>d_haha.png</string>
		<key>image_gif</key>
		<string>d_haha.gif</string>
		<key>name</key>
		<string>哈哈</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/爱你</string>
		<key>image</key>
		<string>d_aini.png</string>
		<key>image_gif</key>
		<string>d_aini.gif</string>
		<key>name</key>
		<string>爱你</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/挖鼻</string>
		<key>image</key>
		<string>d_wabishi.png</string>
		<key>image_gif</key>
		<string>d_wabishi.gif</string>
		<key>name</key>
		<string>挖鼻</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/吃惊</string>
		<key>image</key>
		<string>d_chijing.png</string>
		<key>image_gif</key>
		<string>d_chijing.gif</string>
		<key>name</key>
		<string>吃惊</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/晕</string>
		<key>image</key>
		<string>d_yun.png</string>
		<key>image_gif</key>
		<string>d_yun.gif</string>
		<key>name</key>
		<string>晕</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/泪</string>
		<key>image</key>
		<string>d_lei.png</string>
		<key>image_gif</key>
		<string>d_lei.gif</string>
		<key>name</key>
		<string>泪</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/馋嘴</string>
		<key>image</key>
		<string>d_chanzui.png</string>
		<key>image_gif</key>
		<string>d_chanzui.gif</string>
		<key>name</key>
		<string>馋嘴</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/抓狂</string>
		<key>image</key>
		<string>d_zhuakuang.png</string>
		<key>image_gif</key>
		<string>d_zhuakuang.gif</string>
		<key>name</key>
		<string>抓狂</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/哼</string>
		<key>image</key>
		<string>d_heng.png</string>
		<key>image_gif</key>
		<string>d_heng.gif</string>
		<key>name</key>
		<string>哼</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/可爱</string>
		<key>image</key>
		<string>d_keai.png</string>
		<key>image_gif</key>
		<string>d_keai.gif</string>
		<key>name</key>
		<string>可爱</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/怒</string>
		<key>image</key>
		<string>d_nu.png</string>
		<key>image_gif</key>
		<string>d_nu.gif</string>
		<key>name</key>
		<string>怒</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/汗</string>
		<key>image</key>
		<string>d_han.png</string>
		<key>image_gif</key>
		<string>d_han.gif</string>
		<key>name</key>
		<string>汗</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/害羞</string>
		<key>image</key>
		<string>d_haixiu.png</string>
		<key>image_gif</key>
		<string>d_haixiu.gif</string>
		<key>name</key>
		<string>害羞</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/睡</string>
		<key>image</key>
		<string>d_shuijiao.png</string>
		<key>image_gif</key>
		<string>d_shuijiao.gif</string>
		<key>name</key>
		<string>睡</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/钱</string>
		<key>image</key>
		<string>d_qian.png</string>
		<key>image_gif</key>
		<string>d_qian.gif</string>
		<key>name</key>
		<string>钱</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/偷笑</string>
		<key>image</key>
		<string>d_touxiao.png</string>
		<key>image_gif</key>
		<string>d_touxiao.gif</string>
		<key>name</key>
		<string>偷笑</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/笑cry</string>
		<key>image</key>
		<string>d_xiaoku.png</string>
		<key>image_gif</key>
		<string></string>
		<key>name</key>
		<string>笑cry</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/doge</string>
		<key>image</key>
		<string>d_doge.png</string>
		<key>image_gif</key>
		<string></string>
		<key>name</key>
		<string>doge</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/喵喵</string>
		<key>image</key>
		<string>d_miao.png</string>
		<key>image_gif</key>
		<string></string>
		<key>name</key>
		<string>喵喵</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/酷</string>
		<key>image</key>
		<string>d_ku.png</string>
		<key>image_gif</key>
		<string>d_ku.gif</string>
		<key>name</key>
		<string>酷</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/衰</string>
		<key>image</key>
		<string>d_shuai.png</string>
		<key>image_gif</key>
		<string>d_shuai.gif</string>
		<key>name</key>
		<string>衰</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/闭嘴</string>
		<key>image</key>
		<string>d_bizui.png</string>
		<key>image_gif</key>
		<string>d_bizui.gif</string>
		<key>name</key>
		<string>闭嘴</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/鄙视</string>
		<key>image</key>
		<string>d_bishi.png</string>
		<key>image_gif</key>
		<string>d_bishi.gif</string>
		<key>name</key>
		<string>鄙视</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/色</string>
		<key>image</key>
		<string>d_huaxin.png</string>
		<key>image_gif</key>
		<string>d_huaxin.gif</string>
		<key>name</key>
		<string>色</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/鼓掌</string>
		<key>image</key>
		<string>d_guzhang.png</string>
		<key>image_gif</key>
		<string>d_guzhang.gif</string>
		<key>name</key>
		<string>鼓掌</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/悲伤</string>
		<key>image</key>
		<string>d_beishang.png</string>
		<key>image_gif</key>
		<string>d_beishang.gif</string>
		<key>name</key>
		<string>悲伤</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/思考</string>
		<key>image</key>
		<string>d_sikao.png</string>
		<key>image_gif</key>
		<string>d_sikao.gif</string>
		<key>name</key>
		<string>思考</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/生病</string>
		<key>image</key>
		<string>d_shengbing.png</string>
		<key>image_gif</key>
		<string>d_shengbing.gif</string>
		<key>name</key>
		<string>生病</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/亲亲</string>
		<key>image</key>
		<string>d_qinqin.png</string>
		<key>image_gif</key>
		<string>d_qinqin.gif</string>
		<key>name</key>
		<string>亲亲</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/怒骂</string>
		<key>image</key>
		<string>d_numa.png</string>
		<key>image_gif</key>
		<string>d_numa.gif</string>
		<key>name</key>
		<string>怒骂</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/太开心</string>
		<key>image</key>
		<string>d_taikaixin.png</string>
		<key>image_gif</key>
		<string>d_taikaixin.gif</string>
		<key>name</key>
		<string>太开心</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/白眼</string>
		<key>image</key>
		<string>d_landelini.png</string>
		<key>image_gif</key>
		<string>d_landelini.gif</string>
		<key>name</key>
		<string>白眼</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/右哼哼</string>
		<key>image</key>
		<string>d_youhengheng.png</string>
		<key>image_gif</key>
		<string>d_youhengheng.gif</string>
		<key>name</key>
		<string>右哼哼</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/左哼哼</string>
		<key>image</key>
		<string>d_zuohengheng.png</string>
		<key>image_gif</key>
		<string>d_zuohengheng.gif</string>
		<key>name</key>
		<string>左哼哼</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/嘘</string>
		<key>image</key>
		<string>d_xu.png</string>
		<key>image_gif</key>
		<string>d_xu.gif</string>
		<key>name</key>
		<string>嘘</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/委屈</string>
		<key>image</key>
		<string>d_weiqu.png</string>
		<key>image_gif</key>
		<string>d_weiqu.gif</string>
		<key>name</key>
		<string>委屈</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/吐</string>
		<key>image</key>
		<string>d_tu.png</string>
		<key>image_gif</key>
		<string>d_tu.gif</string>
		<key>name</key>
		<string>吐</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/可怜</string>
		<key>image</key>
		<string>d_kelian.png</string>
		<key>image_gif</key>
		<string>d_kelian.gif</string>
		<key>name</key>
		<string>可怜</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/哈欠</string>
		<key>image</key>
		<string>d_dahaqi.png</string>
		<key>image_gif</key>
		<string>d_dahaqi.gif</string>
		<key>name</key>
		<string>哈欠</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/挤眼</string>
		<key>image</key>
		<string>d_jiyan.png</string>
		<key>image_gif</key>
		<string>d_jiyan.gif</string>
		<key>name</key>
		<string>挤眼</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/失望</string>
		<key>image</key>
		<string>d_shiwang.png</string>
		<key>image_gif</key>
		<string>d_shiwang.gif</string>
		<key>name</key>
		<string>失望</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/顶</string>
		<key>image</key>
		<string>d_ding.png</string>
		<key>image_gif</key>
		<string>d_ding.gif</string>
		<key>name</key>
		<string>顶</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/疑问</string>
		<key>image</key>
		<string>d_yiwen.png</string>
		<key>image_gif</key>
		<string>d_yiwen.gif</string>
		<key>name</key>
		<string>疑问</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/困</string>
		<key>image</key>
		<string>d_kun.png</string>
		<key>image_gif</key>
		<string>d_kun.gif</string>
		<key>name</key>
		<string>困</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/感冒</string>
		<key>image</key>
		<string>d_ganmao.png</string>
		<key>image_gif</key>
		<string>d_ganmao.gif</string>
		<key>name</key>
		<string>感冒</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/拜拜</string>
		<key>image</key>
		<string>d_baibai.png</string>
		<key>image_gif</key>
		<string>d_baibai.gif</string>
		<key>name</key>
		<string>拜拜</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/黑线</string>
		<key>image</key>
		<string>d_heixian.png</string>
		<key>image_gif</key>
		<string>d_heixian.gif</string>
		<key>name</key>
		<string>黑线</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/阴险</string>
		<key>image</key>
		<string>d_yinxian.png</string>
		<key>image_gif</key>
		<string>d_yinxian.gif</string>
		<key>name</key>
		<string>阴险</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/打脸</string>
		<key>image</key>
		<string>d_dalian.png</string>
		<key>image_gif</key>
		<string>d_dalian.gif</string>
		<key>name</key>
		<string>打脸</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/傻眼</string>
		<key>image</key>
		<string>d_shayan.png</string>
		<key>image_gif</key>
		<string>d_shayan.gif</string>
		<key>name</key>
		<string>傻眼</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/互粉</string>
		<key>image</key>
		<string>f_hufen.png</string>
		<key>image_gif</key>
		<string>f_hufen.gif</string>
		<key>name</key>
		<string>互粉</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/心</string>
		<key>image</key>
		<string>l_xin.png</string>
		<key>image_gif</key>
		<string>l_xin.gif</string>
		<key>name</key>
		<string>心</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/伤心</string>
		<key>image</key>
		<string>l_shangxin.png</string>
		<key>image_gif</key>
		<string>l_shangxin.gif</string>
		<key>name</key>
		<string>伤心</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/猪头</string>
		<key>image</key>
		<string>d_zhutou.png</string>
		<key>image_gif</key>
		<string>d_zhutou.gif</string>
		<key>name</key>
		<string>猪头</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/熊猫</string>
		<key>image</key>
		<string>d_xiongmao.png</string>
		<key>image_gif</key>
		<string>d_xiongmao.gif</string>
		<key>name</key>
		<string>熊猫</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/兔子</string>
		<key>image</key>
		<string>d_tuzi.png</string>
		<key>image_gif</key>
		<string>d_tuzi.gif</string>
		<key>name</key>
		<string>兔子</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/握手</string>
		<key>image</key>
		<string>h_woshou.png</string>
		<key>image_gif</key>
		<string></string>
		<key>name</key>
		<string>握手</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/作揖</string>
		<key>image</key>
		<string>h_zuoyi.png</string>
		<key>image_gif</key>
		<string></string>
		<key>name</key>
		<string>作揖</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/赞</string>
		<key>image</key>
		<string>h_zan.png</string>
		<key>image_gif</key>
		<string></string>
		<key>name</key>
		<string>赞</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/耶</string>
		<key>image</key>
		<string>h_ye.png</string>
		<key>image_gif</key>
		<string>h_ye.gif</string>
		<key>name</key>
		<string>耶</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/good</string>
		<key>image</key>
		<string>h_good.png</string>
		<key>image_gif</key>
		<string>h_good.gif</string>
		<key>name</key>
		<string>good</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/弱</string>
		<key>image</key>
		<string>h_ruo.png</string>
		<key>image_gif</key>
		<string>h_ruo.gif</string>
		<key>name</key>
		<string>弱</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/NO</string>
		<key>image</key>
		<string>h_buyao.png</string>
		<key>image_gif</key>
		<string>h_buyao.gif</string>
		<key>name</key>
		<string>NO</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/ok</string>
		<key>image</key>
		<string>h_ok.png</string>
		<key>image_gif</key>
		<string>h_ok.gif</string>
		<key>name</key>
		<string>ok</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/haha</string>
		<key>image</key>
		<string>h_haha.png</string>
		<key>image_gif</key>
		<string>h_haha.gif</string>
		<key>name</key>
		<string>haha</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/来</string>
		<key>image</key>
		<string>h_lai.png</string>
		<key>image_gif</key>
		<string>h_lai.gif</string>
		<key>name</key>
		<string>来</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/拳头</string>
		<key>image</key>
		<string>h_quantou.png</string>
		<key>image_gif</key>
		<string></string>
		<key>name</key>
		<string>拳头</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/威武</string>
		<key>image</key>
		<string>f_v5.png</string>
		<key>image_gif</key>
		<string>f_v5.gif</string>
		<key>name</key>
		<string>威武</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/鲜花</string>
		<key>image</key>
		<string>w_xianhua.png</string>
		<key>image_gif</key>
		<string>w_xianhua.gif</string>
		<key>name</key>
		<string>鲜花</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/钟</string>
		<key>image</key>
		<string>o_zhong.png</string>
		<key>image_gif</key>
		<string>o_zhong.gif</string>
		<key>name</key>
		<string>钟</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/浮云</string>
		<key>image</key>
		<string>w_fuyun.png</string>
		<key>image_gif</key>
		<string>w_fuyun.gif</string>
		<key>name</key>
		<string>浮云</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/飞机</string>
		<key>image</key>
		<string>o_feiji.png</string>
		<key>image_gif</key>
		<string>o_feiji.gif</string>
		<key>name</key>
		<string>飞机</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/月亮</string>
		<key>image</key>
		<string>w_yueliang.png</string>
		<key>image_gif</key>
		<string>w_yueliang.gif</string>
		<key>name</key>
		<string>月亮</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/太阳</string>
		<key>image</key>
		<string>w_taiyang.png</string>
		<key>image_gif</key>
		<string>w_taiyang.gif</string>
		<key>name</key>
		<string>太阳</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/微风</string>
		<key>image</key>
		<string>w_weifeng.png</string>
		<key>image_gif</key>
		<string>w_weifeng.gif</string>
		<key>name</key>
		<string>微风</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/下雨</string>
		<key>image</key>
		<string>w_xiayu.png</string>
		<key>image_gif</key>
		<string>w_xiayu.gif</string>
		<key>name</key>
		<string>下雨</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/给力</string>
		<key>image</key>
		<string>f_geili.png</string>
		<key>image_gif</key>
		<string>f_geili.gif</string>
		<key>name</key>
		<string>给力</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/神马</string>
		<key>image</key>
		<string>f_shenma.png</string>
		<key>image_gif</key>
		<string>f_shenma.gif</string>
		<key>name</key>
		<string>神马</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/围观</string>
		<key>image</key>
		<string>o_weiguan.png</string>
		<key>image_gif</key>
		<string>o_weiguan.gif</string>
		<key>name</key>
		<string>围观</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/话筒</string>
		<key>image</key>
		<string>o_huatong.png</string>
		<key>image_gif</key>
		<string>o_huatong.gif</string>
		<key>name</key>
		<string>话筒</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/奥特曼</string>
		<key>image</key>
		<string>d_aoteman.png</string>
		<key>image_gif</key>
		<string>d_aoteman.gif</string>
		<key>name</key>
		<string>奥特曼</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/草泥马</string>
		<key>image</key>
		<string>d_shenshou.png</string>
		<key>image_gif</key>
		<string>shenshou_thumb.gif</string>
		<key>name</key>
		<string>草泥马</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/萌</string>
		<key>image</key>
		<string>f_meng.png</string>
		<key>image_gif</key>
		<string>f_meng.gif</string>
		<key>name</key>
		<string>萌</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/囧</string>
		<key>image</key>
		<string>f_jiong.png</string>
		<key>image_gif</key>
		<string>f_jiong.gif</string>
		<key>name</key>
		<string>囧</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/织</string>
		<key>image</key>
		<string>f_zhi.png</string>
		<key>image_gif</key>
		<string>f_zhi.gif</string>
		<key>name</key>
		<string>织</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/礼物</string>
		<key>image</key>
		<string>o_liwu.png</string>
		<key>image_gif</key>
		<string>o_liwu.gif</string>
		<key>name</key>
		<string>礼物</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/喜</string>
		<key>image</key>
		<string>f_xi.png</string>
		<key>image_gif</key>
		<string>f_xi.gif</string>
		<key>name</key>
		<string>喜</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/围脖</string>
		<key>image</key>
		<string>o_weibo.png</string>
		<key>image_gif</key>
		<string>o_weibo.gif</string>
		<key>name</key>
		<string>围脖</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/音乐</string>
		<key>image</key>
		<string>o_yinyue.png</string>
		<key>image_gif</key>
		<string>o_yinyue.gif</string>
		<key>name</key>
		<string>音乐</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/绿丝带</string>
		<key>image</key>
		<string>o_lvsidai.png</string>
		<key>image_gif</key>
		<string>o_lvsidai.gif</string>
		<key>name</key>
		<string>绿丝带</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/蛋糕</string>
		<key>image</key>
		<string>o_dangao.png</string>
		<key>image_gif</key>
		<string>o_dangao.gif</string>
		<key>name</key>
		<string>蛋糕</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/蜡烛</string>
		<key>image</key>
		<string>o_lazhu.png</string>
		<key>image_gif</key>
		<string>o_lazhu.gif</string>
		<key>name</key>
		<string>蜡烛</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/干杯</string>
		<key>image</key>
		<string>o_ganbei.png</string>
		<key>image_gif</key>
		<string>o_ganbei.gif</string>
		<key>name</key>
		<string>干杯</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/男孩儿</string>
		<key>image</key>
		<string>d_nanhaier.png</string>
		<key>image_gif</key>
		<string>d_nanhaier.gif</string>
		<key>name</key>
		<string>男孩儿</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/女孩儿</string>
		<key>image</key>
		<string>d_nvhaier.png</string>
		<key>image_gif</key>
		<string>d_nvhaier.gif</string>
		<key>name</key>
		<string>女孩儿</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/肥皂</string>
		<key>image</key>
		<string>d_feizao.png</string>
		<key>image_gif</key>
		<string>d_feizao.gif</string>
		<key>name</key>
		<string>肥皂</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/照相机</string>
		<key>image</key>
		<string>o_zhaoxiangji.png</string>
		<key>image_gif</key>
		<string></string>
		<key>name</key>
		<string>照相机</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/浪</string>
		<key>image</key>
		<string>d_lang.png</string>
		<key>image_gif</key>
		<string></string>
		<key>name</key>
		<string>浪</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/沙尘暴</string>
		<key>image</key>
		<string>w_shachenbao.png</string>
		<key>image_gif</key>
		<string>w_shachenbao.gif</string>
		<key>name</key>
		<string>沙尘暴</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
