<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<integer>6400</integer>
	<key>10</key>
	<integer>6800</integer>
	<key>100</key>
	<integer>2050</integer>
	<key>101</key>
	<integer>2000</integer>
	<key>102</key>
	<integer>1950</integer>
	<key>103</key>
	<integer>1900</integer>
	<key>104</key>
	<integer>1850</integer>
	<key>105</key>
	<integer>6700</integer>
	<key>107</key>
	<integer>1800</integer>
	<key>108</key>
	<integer>1750</integer>
	<key>109</key>
	<integer>1700</integer>
	<key>11</key>
	<integer>6600</integer>
	<key>110</key>
	<integer>1650</integer>
	<key>111</key>
	<integer>1600</integer>
	<key>112</key>
	<integer>1550</integer>
	<key>113</key>
	<integer>1500</integer>
	<key>114</key>
	<integer>1450</integer>
	<key>115</key>
	<integer>1400</integer>
	<key>116</key>
	<integer>1350</integer>
	<key>117</key>
	<integer>1300</integer>
	<key>118</key>
	<integer>1250</integer>
	<key>119</key>
	<integer>1200</integer>
	<key>12</key>
	<integer>5400</integer>
	<key>120</key>
	<integer>1150</integer>
	<key>121</key>
	<integer>1100</integer>
	<key>122</key>
	<integer>1050</integer>
	<key>123</key>
	<integer>1000</integer>
	<key>124</key>
	<integer>950</integer>
	<key>125</key>
	<integer>900</integer>
	<key>126</key>
	<integer>850</integer>
	<key>127</key>
	<integer>800</integer>
	<key>128</key>
	<integer>750</integer>
	<key>129</key>
	<integer>700</integer>
	<key>13</key>
	<integer>6250</integer>
	<key>130</key>
	<integer>650</integer>
	<key>131</key>
	<integer>600</integer>
	<key>132</key>
	<integer>550</integer>
	<key>133</key>
	<integer>500</integer>
	<key>134</key>
	<integer>450</integer>
	<key>135</key>
	<integer>400</integer>
	<key>136</key>
	<integer>350</integer>
	<key>137</key>
	<integer>300</integer>
	<key>138</key>
	<integer>250</integer>
	<key>139</key>
	<integer>200</integer>
	<key>14</key>
	<integer>6150</integer>
	<key>140</key>
	<integer>150</integer>
	<key>141</key>
	<integer>100</integer>
	<key>15</key>
	<integer>4600</integer>
	<key>16</key>
	<integer>3350</integer>
	<key>17</key>
	<integer>3550</integer>
	<key>18</key>
	<integer>4300</integer>
	<key>19</key>
	<integer>6000</integer>
	<key>2</key>
	<integer>6450</integer>
	<key>20</key>
	<integer>6950</integer>
	<key>21</key>
	<integer>6750</integer>
	<key>22</key>
	<integer>6850</integer>
	<key>23</key>
	<integer>6100</integer>
	<key>24</key>
	<integer>7050</integer>
	<key>25</key>
	<integer>6500</integer>
	<key>26</key>
	<integer>6550</integer>
	<key>27</key>
	<integer>5750</integer>
	<key>28</key>
	<integer>6200</integer>
	<key>29</key>
	<integer>3750</integer>
	<key>3</key>
	<integer>5700</integer>
	<key>30</key>
	<integer>3800</integer>
	<key>31</key>
	<integer>5950</integer>
	<key>32</key>
	<integer>5900</integer>
	<key>33</key>
	<integer>6300</integer>
	<key>34</key>
	<integer>6350</integer>
	<key>35</key>
	<integer>5450</integer>
	<key>36</key>
	<integer>6650</integer>
	<key>37</key>
	<integer>4450</integer>
	<key>38</key>
	<integer>5650</integer>
	<key>39</key>
	<integer>2550</integer>
	<key>4</key>
	<integer>6050</integer>
	<key>40</key>
	<integer>5250</integer>
	<key>41</key>
	<integer>7000</integer>
	<key>42</key>
	<integer>4500</integer>
	<key>43</key>
	<integer>5550</integer>
	<key>44</key>
	<integer>6900</integer>
	<key>45</key>
	<integer>4750</integer>
	<key>46</key>
	<integer>3150</integer>
	<key>47</key>
	<integer>4850</integer>
	<key>48</key>
	<integer>2500</integer>
	<key>49</key>
	<integer>4650</integer>
	<key>5</key>
	<integer>5100</integer>
	<key>50</key>
	<integer>5350</integer>
	<key>51</key>
	<integer>5600</integer>
	<key>52</key>
	<integer>4350</integer>
	<key>53</key>
	<integer>3100</integer>
	<key>54</key>
	<integer>3050</integer>
	<key>55</key>
	<integer>3000</integer>
	<key>56</key>
	<integer>2950</integer>
	<key>57</key>
	<integer>2900</integer>
	<key>58</key>
	<integer>3850</integer>
	<key>59</key>
	<integer>4000</integer>
	<key>6</key>
	<integer>5150</integer>
	<key>60</key>
	<integer>3650</integer>
	<key>61</key>
	<integer>4250</integer>
	<key>62</key>
	<integer>4200</integer>
	<key>63</key>
	<integer>3400</integer>
	<key>64</key>
	<integer>2850</integer>
	<key>65</key>
	<integer>2600</integer>
	<key>66</key>
	<integer>2700</integer>
	<key>67</key>
	<integer>4050</integer>
	<key>68</key>
	<integer>3300</integer>
	<key>69</key>
	<integer>3500</integer>
	<key>7</key>
	<integer>5050</integer>
	<key>70</key>
	<integer>2400</integer>
	<key>71</key>
	<integer>2750</integer>
	<key>72</key>
	<integer>2800</integer>
	<key>73</key>
	<integer>3700</integer>
	<key>74</key>
	<integer>3250</integer>
	<key>75</key>
	<integer>3200</integer>
	<key>76</key>
	<integer>3450</integer>
	<key>77</key>
	<integer>5200</integer>
	<key>78</key>
	<integer>2100</integer>
	<key>79</key>
	<integer>3600</integer>
	<key>8</key>
	<integer>3950</integer>
	<key>80</key>
	<integer>5850</integer>
	<key>81</key>
	<integer>5800</integer>
	<key>82</key>
	<integer>5500</integer>
	<key>83</key>
	<integer>5300</integer>
	<key>84</key>
	<integer>5000</integer>
	<key>85</key>
	<integer>4950</integer>
	<key>86</key>
	<integer>4900</integer>
	<key>87</key>
	<integer>4800</integer>
	<key>88</key>
	<integer>4700</integer>
	<key>89</key>
	<integer>4550</integer>
	<key>9</key>
	<integer>3900</integer>
	<key>90</key>
	<integer>4400</integer>
	<key>91</key>
	<integer>4150</integer>
	<key>92</key>
	<integer>4100</integer>
	<key>93</key>
	<integer>2650</integer>
	<key>94</key>
	<integer>2450</integer>
	<key>95</key>
	<integer>2350</integer>
	<key>96</key>
	<integer>2300</integer>
	<key>97</key>
	<integer>2250</integer>
	<key>98</key>
	<integer>2200</integer>
	<key>99</key>
	<integer>2150</integer>
</dict>
</plist>
