<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>/笑哈哈</string>
		<key>image</key>
		<string>lxh_xiaohaha.png</string>
		<key>image_gif</key>
		<string>lxh_xiaohaha.gif</string>
		<key>name</key>
		<string>笑哈哈</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/好爱哦</string>
		<key>image</key>
		<string>lxh_haoaio.png</string>
		<key>image_gif</key>
		<string>lxh_haoaio.gif</string>
		<key>name</key>
		<string>好爱哦</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/噢耶</string>
		<key>image</key>
		<string>lxh_oye.png</string>
		<key>image_gif</key>
		<string>lxh_oye.gif</string>
		<key>name</key>
		<string>噢耶</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/偷乐</string>
		<key>image</key>
		<string>lxh_toule.png</string>
		<key>image_gif</key>
		<string>lxh_toule.gif</string>
		<key>name</key>
		<string>偷乐</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/泪流满面</string>
		<key>image</key>
		<string>lxh_leiliumanmian.png</string>
		<key>image_gif</key>
		<string>lxh_leiliumanmian.gif</string>
		<key>name</key>
		<string>泪流满面</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/巨汗</string>
		<key>image</key>
		<string>lxh_juhan.png</string>
		<key>image_gif</key>
		<string>lxh_juhan.gif</string>
		<key>name</key>
		<string>巨汗</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/抠鼻屎</string>
		<key>image</key>
		<string>lxh_koubishi.png</string>
		<key>image_gif</key>
		<string>lxh_koubishi.gif</string>
		<key>name</key>
		<string>抠鼻屎</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/求关注</string>
		<key>image</key>
		<string>lxh_qiuguanzhu.png</string>
		<key>image_gif</key>
		<string>lxh_qiuguanzhu.gif</string>
		<key>name</key>
		<string>求关注</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/好喜欢</string>
		<key>image</key>
		<string>lxh_haoxihuan.png</string>
		<key>image_gif</key>
		<string>lxh_haoxihuan.gif</string>
		<key>name</key>
		<string>好喜欢</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/崩溃</string>
		<key>image</key>
		<string>lxh_bengkui.png</string>
		<key>image_gif</key>
		<string>lxh_bengkui.gif</string>
		<key>name</key>
		<string>崩溃</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/好囧</string>
		<key>image</key>
		<string>lxh_haojiong.png</string>
		<key>image_gif</key>
		<string>lxh_haojiong.gif</string>
		<key>name</key>
		<string>好囧</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/震惊</string>
		<key>image</key>
		<string>lxh_zhenjing.png</string>
		<key>image_gif</key>
		<string>lxh_zhenjing.gif</string>
		<key>name</key>
		<string>震惊</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/别烦我</string>
		<key>image</key>
		<string>lxh_biefanwo.png</string>
		<key>image_gif</key>
		<string>lxh_biefanwo.gif</string>
		<key>name</key>
		<string>别烦我</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/不好意思</string>
		<key>image</key>
		<string>lxh_buhaoyisi.png</string>
		<key>image_gif</key>
		<string>lxh_buhaoyisi.gif</string>
		<key>name</key>
		<string>不好意思</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/羞嗒嗒</string>
		<key>image</key>
		<string>lxh_xiudada.png</string>
		<key>image_gif</key>
		<string>lxh_xiudada.gif</string>
		<key>name</key>
		<string>羞嗒嗒</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/得意地笑</string>
		<key>image</key>
		<string>lxh_deyidexiao.png</string>
		<key>image_gif</key>
		<string>lxh_deyidexiao.gif</string>
		<key>name</key>
		<string>得意地笑</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/纠结</string>
		<key>image</key>
		<string>lxh_jiujie.png</string>
		<key>image_gif</key>
		<string>lxh_jiujie.gif</string>
		<key>name</key>
		<string>纠结</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/给劲</string>
		<key>image</key>
		<string>lxh_geijin.png</string>
		<key>image_gif</key>
		<string>lxh_geijin.gif</string>
		<key>name</key>
		<string>给劲</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/悲催</string>
		<key>image</key>
		<string>lxh_beicui.png</string>
		<key>image_gif</key>
		<string>lxh_beicui.gif</string>
		<key>name</key>
		<string>悲催</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/甩甩手</string>
		<key>image</key>
		<string>lxh_shuaishuaishou.png</string>
		<key>image_gif</key>
		<string>lxh_shuaishuaishou.gif</string>
		<key>name</key>
		<string>甩甩手</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/好棒</string>
		<key>image</key>
		<string>lxh_haobang.png</string>
		<key>image_gif</key>
		<string>lxh_haobang.gif</string>
		<key>name</key>
		<string>好棒</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/瞧瞧</string>
		<key>image</key>
		<string>lxh_qiaoqiao.png</string>
		<key>image_gif</key>
		<string>lxh_qiaoqiao.gif</string>
		<key>name</key>
		<string>瞧瞧</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/不想上班</string>
		<key>image</key>
		<string>lxh_buxiangshangban.png</string>
		<key>image_gif</key>
		<string>lxh_buxiangshangban.gif</string>
		<key>name</key>
		<string>不想上班</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/困死了</string>
		<key>image</key>
		<string>lxh_kunsile.png</string>
		<key>image_gif</key>
		<string>lxh_kunsile.gif</string>
		<key>name</key>
		<string>困死了</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/许愿</string>
		<key>image</key>
		<string>lxh_xuyuan.png</string>
		<key>image_gif</key>
		<string>lxh_xuyuan.gif</string>
		<key>name</key>
		<string>许愿</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/丘比特</string>
		<key>image</key>
		<string>lxh_qiubite.png</string>
		<key>image_gif</key>
		<string>lxh_qiubite.gif</string>
		<key>name</key>
		<string>丘比特</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/有鸭梨</string>
		<key>image</key>
		<string>lxh_youyali.png</string>
		<key>image_gif</key>
		<string>lxh_youyali.gif</string>
		<key>name</key>
		<string>有鸭梨</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/想一想</string>
		<key>image</key>
		<string>lxh_xiangyixiang.png</string>
		<key>image_gif</key>
		<string>lxh_xiangyixiang.gif</string>
		<key>name</key>
		<string>想一想</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/躁狂症</string>
		<key>image</key>
		<string>lxh_zaokuangzheng.png</string>
		<key>image_gif</key>
		<string>lxh_zaokuangzheng.gif</string>
		<key>name</key>
		<string>躁狂症</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/转发</string>
		<key>image</key>
		<string>lxh_zhuanfa.png</string>
		<key>image_gif</key>
		<string>lxh_zhuanfa.gif</string>
		<key>name</key>
		<string>转发</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/互相膜拜</string>
		<key>image</key>
		<string>lxh_xianghumobai.png</string>
		<key>image_gif</key>
		<string>lxh_xianghumobai.gif</string>
		<key>name</key>
		<string>互相膜拜</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/雷锋</string>
		<key>image</key>
		<string>lxh_leifeng.png</string>
		<key>image_gif</key>
		<string>lxh_leifeng.gif</string>
		<key>name</key>
		<string>雷锋</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/杰克逊</string>
		<key>image</key>
		<string>lxh_jiekexun.png</string>
		<key>image_gif</key>
		<string>lxh_jiekexun.gif</string>
		<key>name</key>
		<string>杰克逊</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/玫瑰</string>
		<key>image</key>
		<string>lxh_meigui.png</string>
		<key>image_gif</key>
		<string>lxh_meigui.gif</string>
		<key>name</key>
		<string>玫瑰</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/hold住</string>
		<key>image</key>
		<string>lxh_holdzhu.png</string>
		<key>image_gif</key>
		<string>lxh_holdzhu.gif</string>
		<key>name</key>
		<string>hold住</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/群体围观</string>
		<key>image</key>
		<string>lxh_quntiweiguan.png</string>
		<key>image_gif</key>
		<string>lxh_quntiweiguan.gif</string>
		<key>name</key>
		<string>群体围观</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/推荐</string>
		<key>image</key>
		<string>lxh_tuijian.png</string>
		<key>image_gif</key>
		<string>lxh_tuijian.gif</string>
		<key>name</key>
		<string>推荐</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/赞啊</string>
		<key>image</key>
		<string>lxh_zana.png</string>
		<key>image_gif</key>
		<string>lxh_zana.gif</string>
		<key>name</key>
		<string>赞啊</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/被电</string>
		<key>image</key>
		<string>lxh_beidian.png</string>
		<key>image_gif</key>
		<string>lxh_beidian.gif</string>
		<key>name</key>
		<string>被电</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>code</key>
		<string>/霹雳</string>
		<key>image</key>
		<string>lxh_pili.png</string>
		<key>image_gif</key>
		<string>lxh_pili.gif</string>
		<key>name</key>
		<string>霹雳</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
